[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi-offline = {path = "I:/Pimonov/FastAPI/FastAPI_wheels/fastapi_offline-1.2.1-py3-none-any.whl"}
aiofiles = {path = "I:/Pimonov/FastAPI/FastAPI_wheels/aiofiles-0.5.0-py3-none-any.whl"}
tortoise-orm = "*"
uvicorn = {extras = ["all"], version = "*"}
jinja2 = "*"

[dev-packages]

[requires]
python_version = "3.8"
